@font-face {
    font-family: 'Grandstander';
    font-display: swap;
    src:  url('./ga6fawtA-GpSsTWrnNHPCSIMZhhKpFjyNZIQD1--P3Dct-FG.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }

.hello {
    height: 100vh;
    color: red;
    font-family: 'Grandstander', cursive;
    background: url('./icon.png');
}